@import './base.css';

html {
  overflow-y: hidden;
}

#app {
  margin: 0 auto;

  font-weight: normal;
}

a
{
  text-decoration: none;
  color: "#90A4AE";
  transition: 0.4s;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    color: whitesmoke;
  }
}