@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(74, 74, 75);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: whitesmoke;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
