@import './base.css';

#app {
  margin: 0 auto;
  overflow-y: hidden;

  font-weight: normal;
}

a
{
  text-decoration: none;
  color: "#90A4AE";
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: whitesmoke;
  }
}